{
  "presets": [
    [
      "@babel/preset-react",
      {
          "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript",
    ["@babel/preset-env", {
      "targets": {
          "ie": 11,
          "safari": 9,
          "node": true
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-object-rest-spread"
    ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
