extend _partial/_template

block config
    -
        var page = 'top'
        var title = 'index_title'
        var meta_keywords = 'index_keywords'
        var meta_description = 'index_desc'

block mainContents
    div#app
